body{
    background-color: rgb(216, 233, 248);
    padding: 10px 10px;
    margin: 8px ;
    font-family: 'Times New Roman', Times, serif;
    
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(133, 121, 240);
    text-shadow: 1px 1px 2px;
}
a{
    color: rgb(117, 108, 245); 
}
a:hover{
    color: rgb(147, 245, 240); 
}